﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ObjectRelatedEDocumentContentFilePage.ascx.cs" Inherits="Intranet.DesktopModules.EArchiveProject.EArchive.EArchiveInformation.ObjectRelatedEDocumentContentFilePage" %>
<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Assembly="ITC.Library" Namespace="ITC.Library.Controls" TagPrefix="cc1" %>

<table width="100%" dir="rtl">
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td>
                        <cc1:CustomRadButton ID="cmbAdd" runat="server">
                        </cc1:CustomRadButton> 
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>